<div id="branchContainer" *ngIf="branch" style="width: 100%; height: 100%; white-space: nowrap;"
    [ngStyle]="{'overflow-x': (sharedService.isDesktop ? 'auto' : 'hidden')}">

    <!-- Info -->
    <div class="container-block" id="step-1">
        <div class="header">
            <div class="info">
                <div>Информация</div>
                <span class="spacer"></span>
                <button *ngIf="!sharedService.isDesktop" mat-raised-button class="second-primary"
                    (click)="scrollTo('step-2')">Далее</button>
            </div>
            <div class="description">Заполните информацию о заведении</div>
        </div>

        <div class="body">
            <mat-form-field appearance="outline">
                <mat-label>Название</mat-label>
                <input matInput placeholder="Название" [(ngModel)]="branch.name">
            </mat-form-field>
            <br />
            <mat-form-field appearance="outline">
                <mat-label>Адрес</mat-label>
                <input matInput placeholder="Адрес" [(ngModel)]="branch.adress">
            </mat-form-field>
            <br />
            <mat-form-field style="max-width: 150px;" appearance="outline">
                <mat-label>Телефон</mat-label>
                <input [(ngModel)]="branch.phone" matInput #phoneI="ngModel" phoneValid placeholder="Телефон">
            </mat-form-field>

            <div>
                <div class="image-container">
                    <div *ngIf="!branch.imagePath" class="placeholder">Нет изображения</div>
                    <img *ngIf="branch.imagePath" [src]="branch.imagePath">
                    <button mat-raised-button style="margin-top:0;" color="primary" for="input-file-id"
                        (click)="fileInput.click()">
                        ВЫБРАТЬ ФАЙЛ </button>
                </div>
                <input #fileInput style="display: none;" single type="file" (change)="handleFileInput($event)" />
            </div>
            <br />
            <button style="width: 100%;" mat-raised-button color="warn" (click)="removeBranch()" *ngIf="branchId!=0">
                УДАЛИТЬ ФИЛИАЛ </button>
        </div>
    </div>

    <!-- Schedule -->
    <div class="container-block" id="step-2">
        <div class="header">
            <div class="info">
                <div>Расписание</div>
                <span class="spacer"></span>
                <button mat-button color="warn" (click)="scrollTo('step-1')"
                    *ngIf="!sharedService.isDesktop">Назад</button>
                <button mat-raised-button class="second-primary" (click)="scrollTo('step-3')"
                    *ngIf="!sharedService.isDesktop">Далее</button>
            </div>
            <div class="description">Заполните расписание заведения</div>
        </div>

        <div class="body">
            <schedule-component [branchProp]="branch"></schedule-component>
        </div>
    </div>

    <!-- Scheme -->
    <div class="container-block" id="step-3" style="max-width: 100%; width: fit-content;">
        <div class="header">
            <div class="info">
                <div>Схема</div>
                <span class="spacer"></span>
                <button mat-button color="warn" (click)="scrollTo('step-2')"
                    *ngIf="!sharedService.isDesktop">Назад</button>
                <button mat-raised-button class="second-primary" (click)="scrollTo('step-4')"
                    *ngIf="!sharedService.isDesktop">Далее</button>
            </div>
            <div class="description">Создайте схему бронирования</div>
        </div>

        <div class="body" style="width: fit-content;">
            <div *ngIf="branch.bill" style=" max-width: 100%; width: 400px; margin-left: auto; margin-right: auto;">
                <disabled-canvas [branch]="branch"></disabled-canvas>
            </div>

            <div *ngIf="!branch.bill" style="width: 668px;">
                <canvas-main [zones]="branch.zones"></canvas-main>
            </div>

            <div class="floating-block" *ngIf="branch.bill">
                <button mat-raised-button (click)="addNewZones()" color="primary" style="margin: 2px 16px 2px 0;">
                    <span *ngIf="!branch.newZones || branch.newZones.length == 0">Создать новый плагин</span>
                    <span *ngIf="branch.newZones && branch.newZones.length > 0">Изменить новый плагин</span>
                </button>
                <button mat-raised-button (click)="removeNewZones()"
                    *ngIf="branch.newZones && branch.newZones.length > 0" color="warn" style="margin: 2px 0;">Удалить
                    новый плагин</button>
            </div>
        </div>
    </div>

    <!-- Tariff -->
    <div class="container-block" id="step-4">
        <div class="header">
            <div class="info">
                <div>Тариф</div>
                <span class="spacer"></span>
                <button mat-button color="warn" (click)="scrollTo('step-3')"
                    *ngIf="!sharedService.isDesktop">Назад</button>
                <button mat-raised-button class="second-primary" (click)="scrollTo('step-5')"
                    *ngIf="!sharedService.isDesktop && branchId!=0">Далее</button>
                <button mat-raised-button color="primary" (click)="saveData()" *ngIf="branchId==0"
                    [disabled]="!submitValid()">СОХРАНИТЬ</button>
            </div>
            <div class="description">Выберите подходящий для вас тариф</div>
        </div>

        <div class="body" style="width: 300px;">
            <tariff-component [branchProp]="branch" [tariffsProp]="tariffs" (payChange)="pay()"
                (prolongChange)="prolong()"></tariff-component>
        </div>
    </div>

    <!-- End -->
    <div class="container-block" id="step-5" *ngIf="branchId!=0">
        <div class="header">
            <div class="info">
                <div>Плагин</div>
                <span class="spacer"></span>
                <button mat-button color="warn" (click)="scrollTo('step-4')"
                    *ngIf="!sharedService.isDesktop">Назад</button>
                <button mat-raised-button color="primary" (click)=" saveData()"
                    [disabled]="!submitValid()">СОХРАНИТЬ</button>
            </div>
            <div class="description">Информация по интеграции</div>
        </div>
        <div class="body">
            <div class="floating-block-big" style="margin-top: 0;">
                <div class="info-block">Код для вставки в ваше приложение:</div>
                <textarea highlight-js [lang]="'html'" [ngModel]="pluginCode"></textarea>

                <div class="info-block">Ссылка на приложение:</div>
                <div class="link-block">
                    <a target="_blank"
                        [href]="sharedService.appUrl + '/app/' + branchId">{{sharedService.appUrl}}/app/{{branchId}}</a>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #DNewPlugin>
    <h2 mat-dialog-title style="padding: 24px; padding-bottom: 0;">Новый плагин</h2>
    <mat-dialog-content style="margin: 0; padding: 0;">
        <canvas-main *ngIf="branch.newZones.length > 0" [zones]="branch.newZones"></canvas-main>
    </mat-dialog-content>
</ng-template>