div.container-block {
    height: 100%;
    max-width: max-content;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

div.container-block div.header {
    color: white;
    font-size: 28px;
    padding: 24px 24px;
}

div.container-block div.header div.info {
    display: flex;
}

div.container-block div.header div.description {
    font-size: 16px;
}

@media only screen and (max-width: 959px) {
    div.container-block div.header {
        padding-right: 16px;
        padding-top: 16px;
    }
    div.container-block div.header div.info div {
        margin-left: 24px;
    }
    div.container-block div.header div.description {
        margin-top: 2px;
    }
}

div.container-block div.body {
    padding: 24px;
    padding-top: 0px;
    overflow: auto;
    max-height: calc(100% - 126px);
    max-width: calc(100% - 48px);
}

@media only screen and (max-width: 600px) {
    div.container-block div.body {
        width: calc(100% - 48px) !important;
    }
}

/* info */

div.container-block div.body mat-form-field {
    width: 100%;
    max-width: 300px;
}

div.image-container {
    width: 350px;
    max-width: 100%;
    height: 200px;
    border-radius: 6px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

div.image-container div.placeholder {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 200px;
    float: right;
}

div.image-container img {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: right;
}

div.image-container button {
    left: 8px;
    top: 156px;
    clear: both;
}

div.info-block {
    font-size: 18px;
    white-space: normal;
    word-wrap: break-word;
}

div.link-block {
    width: max-content;
    margin-top: 12px;
    padding: 0.5em;
    background-color: #282c34;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

div.link-block a {
    color: #98c379;
    font-family: monospace;
}

/*  */

mat-panel-title {
    font-size: 18px;
}

/deep/ div.mat-expansion-panel-body {
    padding: 0 16px 16px;
}