<div class="pageloader" [hidden]="!httpService.loading">
    <mat-spinner></mat-spinner>
</div>

<div style="height: 100%; background-image: url('assets/auth_background.jpg'); background-repeat: no-repeat; 
            background-position: bottom; background-size: cover;">
    <div style="max-width: 400px; width:100%; text-align: center; height: 100%;">
        <div style="background-color: rgba(145, 51, 73, 0.8); height: 50px;"></div>
        <div style="background-color:rgba(21, 21, 21, 0.8); height: calc(100% - 50px);">
            <img width="63px" height="auto" style="margin-top: -27px;" src="assets/app_icon.svg">
            <div style=" overflow-y: auto; height: inherit;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>