/deep/ .AuthForm .mat-form-field-label {
    color: rgba(255, 255, 255, 0.38) !important;
}

/deep/ .AuthForm .mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0.38) !important;
}

/deep/ .AuthForm .mat-input-element {
    color: white !important;
}

/deep/ .AuthForm .mat-raised-button.mat-primary[disabled],
.AuthForm .mat-raised-button[disabled][disabled] {
    background-color: rgba(145, 51, 73, 0.5) !important;
}

/deep/ .AuthorizationHeader {
    margin-top: 32px;
    font-weight: 300;
    line-height: normal;
    font-size: 34px;
    color: white;
}

/deep/ .AuthForm mat-form-field {
    margin: 20px 32px 0 32px;
    width: calc(100% - 64px);
}
/deep/  .AuthMainButton{
    margin: 28px 48px 0 48px; width: calc(100% - 96px)
}