<div mat-dialog-content>
    Вы забронировали {{data.count}} столов на сумму {{data.sum}}₽.
    <br />
    Заполните данные для брони.
    <mat-form-field style="width: 100%; margin-top:8px;">
        <input [(ngModel)]="order.name" matInput placeholder="Имя" required>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <input [(ngModel)]="order.surname" matInput placeholder="Фамилия">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <input [(ngModel)]="order.phone" matInput #phoneI="ngModel" phoneValid placeholder="Телефон">
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <input [(ngModel)]="order.email" matInput #emailI="ngModel" emailValid placeholder="E-mail">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [disabled]="!submitValid()" [mat-dialog-close]="order" cdkFocusInitial
        color="accent">Подтвердить</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Отмена</button>
</div>