<div class="AuthorizationHeader" style="font-size: 60px;">DENGRAD</div>
<form [formGroup]="logInForm" class="AuthForm">
    <mat-form-field id="login">
        <input matInput placeholder="Логин" formControlName="login">
        <mat-error *ngIf="formErrors.login">
            {{formErrors.login}}
        </mat-error>
    </mat-form-field>

    <mat-form-field id="password">
        <input type="password" matInput placeholder="Пароль" formControlName="password">
        <mat-error *ngIf="formErrors.password">
            {{formErrors.password}}
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="AuthMainButton" (click)="onSubmit(logInForm)" [disabled]="!logInForm.valid">Войти</button>
    <div style="padding: 28px 48px;">
        <button mat-button (click)="ResetPassword()" style="color: white;">Забыли пароль</button>
        <button mat-button routerLink="/Registration" style="color: white;">Регистрация</button>
    </div>
</form>

<ng-template #DForgetPassword>
    <h2 mat-dialog-title>Сброс пароля</h2>
    <mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Email" [formControl]="email">
            <mat-error *ngIf="email.invalid">Некорректный Email!</mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close color="primary" (click)="BeginReset()" [disabled]="email.invalid">Сброс</button>
    </mat-dialog-actions>
</ng-template>