mat-drawer-container {
    width: 100%;
    height: 100%;
}

mat-drawer {
    height: 100%;
    background-color: #788594;
    overflow: hidden;
}

mat-drawer div.header-closed div.company-header {
    background-color: #232F3C;
    width: 44px;
    height: 118px;
}

mat-drawer div.header-closed button {
    top: 96px;
    left: 2px;
    position: fixed;
    z-index: 99;
    height: 40px;
    width: 40px;
}

/deep/ mat-drawer div.header-closed span.mat-button-wrapper {
    padding: 8px 0;
}

button.header-closed-mobile {
    position: fixed;
    z-index: 2;
    top: 8px;
    left: 8px;
    position: fixed;
    top: 12px;
    left: 4px;
    height: 40px;
    width: 40px;
}

/deep/ button.header-closed-mobile span.mat-button-wrapper {
    padding: 8px 0;
}

mat-drawer div.header {
    width: 100%;
    height: 144px;
}

mat-drawer div.header div.company-header {
    cursor: pointer;
    background-color: #232F3C;
    width: 100%;
    height: 118px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

mat-drawer div.header div.company-header img {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    float: left;
}

mat-drawer div.header div.company-header div.logo {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: #913349;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    text-align: center;
    float: left;
}

div.logo span {
    color: white;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
}

mat-drawer div.header div.company-header div.info-block {
    margin-right: 16px;
    margin-top: 16px;
    float: left;
    color: #ffffff;
}

mat-drawer div.header div.company-header div.info-block div {
    white-space: pre;
    overflow: hidden;
    width: 195px;
    text-overflow: ellipsis;
}

mat-drawer div.header button.toggle-body {
    bottom: 28px;
    right: calc(70px - 100%);
}

mat-drawer div.header button.exit {
    bottom: 50px;
    left: -48px;
    color: white;
}

mat-drawer div.button-container {
    text-align: center;
    margin-top: 16px;
}

mat-drawer-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5) 20%);
}

div.branch-list {
    margin-top: 16px;
    padding-bottom: 16px;
    height: calc(100% - 224px);
    overflow-y: auto;
}

div.branch-component {
    width: calc(100% - 48px);
    margin-bottom: 16px;
    margin-left: 24px;
    background-color: #913349;
    border-radius: 6px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

div.branch-component img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

div.branch-component div.info-block {
    width: calc(100% - 32px);
    padding: 16px 16px 0 16px;
    color: #ffffff;
}

div.branch-component div.info-block div {
    white-space: pre;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

div.branch-component button {
    color: white;
    right: calc(123px - 100%);
    margin-bottom: 8px;
}

div.placeholder {
    color: #913349;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}

div.placeholder mat-icon {
    font-size: 150px;
    width: 150px;
    height: 150px;
}

div.placeholder div {
    font-size: 28px;
    width: 300px;
}