<button mat-fab color="primary" (click)="drawerToggle()" class="header-closed-mobile"
    *ngIf="!drawerOpened && !sharedService.isDesktop">
    <mat-icon style="margin-right: 8px; transform: rotate(180deg);">arrow_back_ios</mat-icon>
</button>

<mat-drawer-container>
    <mat-drawer #drawer mode="side" opened autosize [ngStyle]="{'width': drawerSize }">
        <div class="header-closed" *ngIf="!drawerOpened && sharedService.isDesktop">
            <div class="company-header"></div>
            <button mat-fab color="primary" (click)="drawerToggle()">
                <mat-icon style="margin-right: 8px; transform: rotate(180deg);">arrow_back_ios</mat-icon>
            </button>
        </div>

        <div class="opened" *ngIf="drawerOpened">
            <div class="header">
                <div class="company-header" (click)="onCompanyChange()">
                    <section *ngIf="Company">
                        <div class="logo"><span>{{companyNameFirstLetter()}}</span></div>
                        <div class="info-block">
                            <div style="font-size: 20px;">{{Company.name}}</div>
                            <div style="font-size: 14px; margin-top: 4px;">{{Company.inn}}</div>
                        </div>
                    </section>

                </div>
                <mat-progress-bar style="width: 100%;" mode="indeterminate" color="primary" *ngIf="!Company">
                </mat-progress-bar>
                <button class="toggle-body" mat-fab color="primary" (click)="drawerToggle()">
                    <mat-icon style="margin-left: 8px;">arrow_back_ios</mat-icon>
                </button>
                <button mat-button class="exit" routerLink="/Auth/LogIn">Выход</button>
            </div>

            <div class="button-container">
                <button mat-raised-button color="primary" class="rounded-button" routerLink="/Service/Info/0"
                    [ngStyle]="branchSelected({id: 0})">
                    <mat-icon>add</mat-icon>
                    ЗАВЕДЕНИЕ
                </button>
            </div>

            <div class="branch-list">
                <span *ngFor="let branch of branches">
                    <div class="branch-component" [ngStyle]="branchSelected(branch)">
                        <div (click)="moveToBranch(branch)">
                            <img *ngIf="branch.imagePath" mat-card-image [src]="branch.imagePath">
                            <div class="info-block">
                                <div style="font-size: 20px;">{{branch.name}}</div>
                                <div style="font-size: 14px; margin-top: 4px;">{{branch.adress}}</div>
                            </div>
                        </div>
                        <button mat-button (click)="moveToCalendar(branch)">Управление</button>
                    </div>
                </span>
            </div>
        </div>
    </mat-drawer>


    <mat-drawer-content [ngStyle]="{'margin-left': drawerSize }" style="position: relative;">
        <div class="pageloader" [hidden]="!sharedService.httpService.loading">
            <mat-spinner></mat-spinner>
        </div>

        <router-outlet></router-outlet>

        <div class="placeholder" *ngIf="!selectedBranch()">
            <mat-icon>photo_size_select_actual</mat-icon>
            <div>Создайте или выберите заведение для работы!</div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>



<ng-template #DCompany>
    <h2 mat-dialog-title>Настройка компании</h2>
    <mat-dialog-content>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Название</mat-label>
            <input matInput placeholder="Название" [(ngModel)]="newCompany.name" required #nameI="ngModel">
            <mat-error *ngIf="nameI.errors && nameI.errors.required">Обязательное поле</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>ИНН</mat-label>
            <input matInput placeholder="ИНН" required [(ngModel)]="newCompany.inn" #innI="ngModel" innValid>
            <mat-error *ngIf="innI.errors && !innI.errors.innValid">Неверный ИНН</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{Company.isIP ? 'ОГРНИП' : 'ОГРН'}}</mat-label>
            <input matInput [placeholder]="newCompany.isIP ? 'ОГРНИП' : 'ОГРН'" [(ngModel)]="newCompany.ogrn"
                #ogrnI="ngModel" ogrnValid>
            <mat-error *ngIf="ogrnI.errors && !ogrnI.errors.ogrnValid">Неверный ОГРН</mat-error>
        </mat-form-field>

        <mat-checkbox color="primary" [(ngModel)]="newCompany.isIP">Является ИП</mat-checkbox>

    </mat-dialog-content>


    <mat-dialog-actions>
        <span class="spacer"></span>
        <button mat-button mat-dialog-close>Закрыть</button>
        <button mat-button mat-dialog-close color="accent" [disabled]="submitValid"
            (click)="saveChanges()">Сохранить</button>
    </mat-dialog-actions>
</ng-template>