<div class="time-block" (click)="onClick($event)"
[ngStyle]="{'background-color': (isActive ? '#FAFAFB' : 'rgba(0,0,0,0.5)')}">
    <div class="day">{{weekDay}}</div>
    <div id="dayBody" class="time">
        <div>Начало:
            <input class="custom-time" matInput type="time" placeholder="ЧЧ" [(ngModel)]="start">
        </div>
        <span class="spacer"></span>
        <div>Окончание:
            <input class="custom-time" matInput type="time" placeholder="ЧЧ" [(ngModel)]="end">
        </div>
    </div>
</div>