div.time-block {
    border-radius: 6px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    width: calc(100% - 32px);
    padding: 16px;
    margin-top: 8px;
}

div.time-block div.day {
    color: black;
    font-size: 20px;
    margin-bottom: 4px;
}

div.time-block div.time {
    color: #913349;
    font-size: 14px;
    display: flex;
    font-weight: bold;
}