<div class="canvas">
    <div class="header">
        <mat-tab-group (selectedTabChange)="zoneChange($event)" [selectedIndex]="zoneIndex" style="width: 100%;">
            <mat-tab *ngFor="let zone of branch.zones;" [(label)]="zone.name"></mat-tab>
        </mat-tab-group>
    </div>
    <div #body class="body" [style.background]="hasData ? branch.zones[zoneIndex].color : null">
        <div class=dragscroll>
            <span *ngIf="hasData && branch.zones[zoneIndex].imagePath">
                <div *ngFor="let item of branch.zones[zoneIndex].tables; let i=index" class="draggable-box"
                    [ngStyle]="getTableStyle(i)">
                    {{item.sits}}
                </div>
            </span>
            <img [hidden]="!hasData || !branch.zones[zoneIndex].imagePath" #planImage (load)="imageResize()"
                [src]="branch.zones.length > 0 ? branch.zones[zoneIndex].imagePath : ''"
                style="max-width: 100%; max-height: 100%;">
        </div>
        <div class="empty-image" *ngIf="!(hasData && branch.zones[zoneIndex].imagePath)">
            Нет Данных
        </div>
    </div>
</div>