/* /////// Header /////// */

/deep/ .mat-tab-header {
	border-bottom: 0;
}

div.header {
	top: 0;
	z-index: 2;
	background-color: #FAFAFB;
	width: 100%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

/* ////// Body//////// */

div.canvas {
	border-radius: 4px;
	overflow: hidden;
	height: 100%;
	width: 100%;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

div.body {
	z-index: 1;
	width: 100%;
	overflow: hidden;
	height: calc(100% - 48px);
}

/* Empty container */

div.empty-image {
	width: 100%;
	height: 150px;
	text-align: center;
	font-size: 24px;
	font-weight: 500;
}

/* Scrollable container */

.dragscroll img {
	border-radius: 4px;
	object-fit: contain;
}

.dragscroll {
	overflow: visible;
    border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	height: max-content;
	width: 100%;
	position: relative;
}

/* draggable element */

.draggable-box {
	z-index: 1;
	border: solid 1px #ccc;
	font-weight: 400;
	font-size: 20px;
	color: white;
	cursor: move;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1;
	box-sizing: border-box;
	padding: 10px;
	transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	position: absolute;
	z-index: 100;
	border: solid 2px #d0d0d0;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
}

.draggable-box:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* bottom */

div.bottom-navbar {
	max-width: 452px;
	z-index: 2;
	background-color: #FAFAFB;
	padding: 24px;
	border-radius: 6px 6px 0 0;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
	width: calc(100% - 48px);
	position: absolute;
	bottom: 0;
}

div.bottom-navbar mat-slider {
	width: 100%;
	padding: 16px 0 0 0;
}

div.slider-label {
	margin: 14px 8px 8px 8px;
}

div.bottom-navbar div.block-container {
	margin-top: 16px;
	display: flex;
}

div.bottom-navbar div.block-container div.block {
	width: 50%;
}

div.bottom-navbar div.block-container div.text {
	font-size: 20px;
}

div.block button, div.block div.time-button {
	margin: 8px 0 0 0;
}