<div style="display: flex; width: 100%;">
    <div class="label">Продолжительность бронирования</div>
    <span class="spacer"></span>
    <div class="time-button">
        <input class="custom-time" matInput type="time" placeholder="ЧЧ"
            [(ngModel)]="branch.schedule.reservationLength">
        <mat-icon>schedule</mat-icon>
    </div>
</div>

<button class="big-button" mat-raised-button color="primary" (click)="openDisabledTime()">НЕАКТИВНОЕ ВРЕМЯ</button>

<div class="week-block" *ngIf="branch.schedule">
    <div class="days">
        <div class="day-block" *ngFor="let day of branch.schedule.days; let i = index"
            [ngClass]="{ 'active': day.isActive, 'mobile': !sharedService.isDesktop }" (click)="selectDay(i)">
            {{getWeekDay(day.weekDay)}}
        </div>
    </div>
    <div class="selectors">
        <div class="selector" *ngFor="let day of branch.schedule.days; let i = index"
            [style.visibility]="i == dayIndex ? 'visible' : 'hidden'"
            [ngClass]="{ 'mobile': !sharedService.isDesktop }">
        </div>
    </div>
</div>

<div class="floating-block-big" *ngIf="branch.schedule && branch.schedule.days.length > 0">
    <mat-checkbox [(ngModel)]="branch.schedule.days[dayIndex].isActive" color="primary">Активный день</mat-checkbox>
    <br>
    <button mat-raised-button color="primary" style="margin-top: 16px;" (click)="openAddInterval()">
        <mat-icon style="margin-bottom: 2px;margin-left: -6px;">add</mat-icon>
        ИНТЕРВАЛ
    </button>

    <div *ngIf="!branch.schedule.days[dayIndex].intervals">
        Нет интервалов
    </div>

    <table *ngIf="branch.schedule.days[dayIndex].intervals" style="width: 100%;" mat-table matSort
        [dataSource]="branch.schedule.days[dayIndex].intervals">
        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Начало </th>
            <td mat-cell *matCellDef="let element">{{element.start}}</td>
        </ng-container>

        <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Окончание </th>
            <td mat-cell *matCellDef="let element">{{element.end}}</td>
        </ng-container>

        <ng-container matColumnDef="changeColumn">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="warn" (click)="RemoveInterval(element)">Удалить</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['start', 'end', 'changeColumn']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['start', 'end', 'changeColumn'];"></tr>
    </table>
</div>


<ng-template #DDisabledTime>
    <h2 mat-dialog-title>Неактивное время</h2>
    <mat-dialog-content>
        <div>
            <mat-form-field style="width: 112px; margin-right: 16px;">
                <input matInput [matDatepicker]="dateStart" placeholder="Дата начала" [(ngModel)]="newTime.dateStart">
                <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
                <mat-datepicker #dateStart></mat-datepicker>
            </mat-form-field>
            <mat-form-field style="width: 82px;">
                <input style="width: 75px;" matInput type="time" placeholder="Время начала"
                    [(ngModel)]="newTime.timeStart">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 115px; margin-right: 16px;">
                <input matInput [matDatepicker]="dateEnd" placeholder="Дата окончания" [(ngModel)]="newTime.dateEnd">
                <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                <mat-datepicker #dateEnd></mat-datepicker>
            </mat-form-field>
            <mat-form-field style="width: 100px;">
                <input style="width: 75px;" matInput type="time" placeholder="Время окончания"
                    [(ngModel)]="newTime.timeEnd">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button style="color:white;" class="radius-button" color="accent"
                (click)="AddDisabledTime()">Добавить</button>
        </div>

        <table style="width: 100%;" mat-table matSort [dataSource]="disabledTimes">
            <ng-container matColumnDef="dateStart">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Время начала </th>
                <td mat-cell *matCellDef="let element">{{element.dateStart | date:'dd.MM.yyyy':'0000'}}
                    {{element.timeStart}}
                </td>
            </ng-container>

            <ng-container matColumnDef="dateEnd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Время окончания </th>
                <td mat-cell *matCellDef="let element">{{element.dateEnd | date:'dd.MM.yyyy':'0000'}}
                    {{element.timeEnd}}</td>
            </ng-container>

            <ng-container matColumnDef="changeColumn">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="warn" (click)="RemoveTime(element.id)">Удалить</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['dateStart', 'dateEnd', 'changeColumn']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['dateStart', 'dateEnd', 'changeColumn'];"></tr>
        </table>
    </mat-dialog-content>
    <mat-dialog-actions>
        <span class="spacer"></span>
        <button mat-button mat-dialog-close color="primary">Закрыть</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #DAddInterval>
    <h2 mat-dialog-title>Добавить интервал</h2>
    <mat-dialog-content>
        <table style="width: 100%;">
            <tr>
                <th align="center">Начало</th>
                <th align="center">Окончание</th>
            </tr>
            <tr>
                <td align="center">
                    <div class="time-button">
                        <input #timeStart class="custom-input" matInput type="time" style="margin-top: 0;"
                            value="12:00">
                        <mat-icon>schedule</mat-icon>
                    </div>
                </td>
                <td align="center">
                    <div class="time-button">
                        <input #timeEnd class="custom-input" matInput type="time" style="margin-top: 0;" value="18:00">
                        <mat-icon>schedule</mat-icon>
                    </div>
                </td>
            </tr>
        </table>
    </mat-dialog-content>
    <mat-dialog-actions>
        <span class="spacer"></span>
        <button mat-button mat-dialog-close>Закрыть</button>
        <button mat-button (click)="AddInterval(timeStart.value, timeEnd.value)" mat-dialog-close
            color="accent">Добавить</button>
    </mat-dialog-actions>
</ng-template>