.mat-table {
    background: #fdfdfc;
}

div.label {
    color: #737374;
    font-size: 14px;
    word-break: break-word;
    white-space: normal;
    line-height: 36px;
}

div.week-block {
    display: grid;
}

div.week-block div.days {
    background: #FAFAFB;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    display: inline-flex;
    padding: 4px 16px;
    z-index: 2;
}

div.day-block {
    width: 48px;
    height: 48px;
    margin: 0 4px;
    color: #737374;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
}

div.day-block.mobile {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    line-height: 32px;
    font-size: 14px;
}

div.day-block.active {
    color: white;
    background: #913349;
}

div.week-block div.selectors {
    padding: 0px 16px;
    display: inline-flex;
}

.selector {
    width: 40px;
    height: 0;
    margin: 0 8px;
    box-sizing: border-box;
    position: relative;
}

.selector::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -24px;
    box-sizing: border-box;
    border: 14px solid;
    border-color: transparent transparent #FAFAFB #FAFAFB;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.selector.mobile {
    width: 24px;
}

.selector.mobile::after {
    bottom: -18px;
    border: 9px solid;
    border-color: transparent transparent #FAFAFB #FAFAFB;
}