<mat-accordion>
    <mat-expansion-panel expanded="true" *ngIf="branch.bill">
        <mat-expansion-panel-header>
            <mat-panel-title>Текущий тариф
            </mat-panel-title>
            <mat-panel-description *ngIf="branch.status == 3" style="color: rgb(244, 67, 54); margin-top: 3px; ">
                Просрочен
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="price-block">
            <div class="label">Базовая цена</div>
            <div class="price">{{branch.bill.tariff.price}}₽</div>
        </div>

        <div class="price-block">
            <div class="label">Цена за стол</div>
            <div class="price">{{branch.bill.tariff.tablePrice}}₽</div>
        </div>

        <div class="price-block">
            <div class="label">Интеграция с соц. сетями</div>
            <div class="price">{{branch.bill.tariff.botPrice}}₽</div>
        </div>

        <div class="price-block">
            <div class="label">Период подписки</div>
            <div class="price">{{branch.bill.tariff.period}} месяцев</div>
        </div>

        <mat-button-toggle-group disabled appearance="legacy" #oldTariff="matButtonToggleGroup"
            [value]="branch.bill.tariff.id">
            <mat-button-toggle *ngFor="let tariff of tariffs;" [value]="tariff.id">
                {{tariff.name}}
            </mat-button-toggle>
        </mat-button-toggle-group>

        <div class="price-block">
            <div class="label">Итого:</div>
            <div class="price">{{branch.bill.amount}}₽</div>
            <div>
                {{branch.bill.tariff.period}} м. <b>x</b> ({{branch.bill.tariff.price}}₽ + {{tablesCount()}} ст.
                <b>x</b>
                {{branch.bill.tariff.tablePrice}}₽)
                {{branch.bill.telegramIsAvailiable ? (" + " + branch.bill.tariff.botPrice + '₽') : ''}}
            </div>
        </div>

        <div class="price-block">
            <div class="label">Срок действия</div>
            <div class="price"> {{branch.bill.date | date:'dd.MM.yyyy'}} - {{billEndDate() | date:'dd.MM.yyyy'}}</div>
        </div>

        <button mat-raised-button color="primary" *ngIf="branch.status == 3" (click)="prolong()">ПРОДЛИТЬ</button>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="!branch.bill">
        <mat-expansion-panel-header>
            <mat-panel-title>{{branch.bill ? 'Новый тариф' : 'Tариф'}}</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="price-block">
            <div class="label">Базовая цена</div>
            <div class="price">{{branch.tariff.price}}₽</div>
        </div>

        <div class="price-block">
            <div class="label">Цена за стол</div>
            <div class="price">{{branch.tariff.tablePrice}}₽</div>
        </div>

        <div class="price-block">
            <div class="label">Интеграция с соц. сетями</div>
            <div class="price">{{branch.tariff.botPrice}}₽</div>
        </div>

        <div class="price-block">
            <div class="label">Период подписки</div>
            <div class="price">{{branch.tariff.period}} месяцев</div>
        </div>

        <mat-button-toggle-group appearance="legacy" #newTariff="matButtonToggleGroup" [value]="branch.tariff.id">
            <mat-button-toggle *ngFor="let tariff of tariffs;" [value]="tariff.id" (click)="onTariffChange(tariff)">
                {{tariff.name}}
            </mat-button-toggle>
        </mat-button-toggle-group>

        <div class="price-block">
            <div class="label">Итого:</div>
            <div class="price">{{totalNewSum()}}₽</div>
            <div>
                {{branch.tariff.period}} м. <b>x</b> ({{branch.tariff.price}}₽ + {{newTablesCount()}} ст. <b>x</b>
                {{branch.tariff.tablePrice}}₽)
                {{branch.telegramIsAvailiable ? (" + " + branch.tariff.botPrice + '₽') : ''}}
            </div>
        </div>

        <button style="margin-top: 16px;" mat-raised-button color="primary" *ngIf="branch.id != 0"
            (click)="pay()">Оплатить</button>
    </mat-expansion-panel>


    <div class="panel">
        <div class="header">
            <mat-checkbox color="primary" [(ngModel)]="branch.telegramIsAvailiable"></mat-checkbox>
            <div style="margin-left: 16px;">
                <div style="font-size: 20px;">Telegram</div>
                <div style="font-size: 12px; color: #737374;">уведомления
                    {{branch.telegramIsAvailiable ? 'включены' : 'выключены'}}</div>
            </div>
        </div>
        <div class="body">
            Чтобы подключить уведомления подключите бота к необходимому номеру телефону, пройдя по ссылке и нажав
            кнопку “старт”:
            <br>
            <a style="font-weight: bold;" href="https://t.me/DengradBot" target="_blank">https://t.me/DengradBot</a>
            <span *ngIf="branch.bot">
                <br>
                Затем отправьте в чат следующее сообщение:
                <br>
                <span style="color: #0000EE;font-weight: bold;">set_connection: {{branch.bot.telegramGuid}}</span>
                <br>
            </span>
        </div>
    </div>
</mat-accordion>