div.price-block {
    margin-bottom: 4px;
}

div.price-block div.label {
    font-size: 12px;
    color: #7C7C7C;
}

div.price-block div.price {
    font-size: 20px;
    font-weight: 500;
}

mat-button-toggle-group {
    margin: 8px 0;
}

.mat-button-toggle.mat-button-toggle-checked {
    background-color: #903349;
    color: white;
}

mat-panel-title {
    font-size: 18px;
}

button {
    transform: translateX(-50%);
    left: 50%;
    margin-top: 8px;
}

/deep/ div.mat-expansion-panel-body {
    padding: 0 16px 16px;
}

div.panel {
    margin-top: 24px;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

div.panel div.header {
    display: flex;
}

div.panel div.header mat-checkbox {
    margin-top: 8px;
}

div.body {
    margin-top: 8px;
    font-size: 14px;
    color: #737374;
    word-wrap: break-word;
    white-space: normal;
}