<div class="pageloader" [hidden]="!httpService.loading">
    <mat-spinner></mat-spinner>
</div>

<div class="canvas">
    <div class="header">
        <mat-tab-group (selectedTabChange)="zoneChange($event)" [selectedIndex]="zoneIndex" style="width: 100%;">
            <mat-tab *ngFor="let zone of branch.zones;" [(label)]="zone.name"></mat-tab>
        </mat-tab-group>
    </div>
    <div #body class="body" [style.background]="hasData ? branch.zones[zoneIndex].color : null">
        <div class=dragscroll>
            <span *ngIf="hasData && branch.zones[zoneIndex].imagePath">
                <div *ngFor="let item of branch.zones[zoneIndex].tables; let i=index" class="draggable-box"
                    [ngStyle]="getTableStyle(i)" (click)="selectTable(i)">
                    {{item.sits}}
                </div>
            </span>
            <img [hidden]="!hasData || !branch.zones[zoneIndex].imagePath" #planImage (load)="imageResize()"
                [src]="branch.zones.length > 0 ? branch.zones[zoneIndex].imagePath : ''"
                [style.max-width.px]="body.clientWidth" [style.max-height.px]="body.clientHeight">
        </div>
        <div class="empty-image" *ngIf="!(hasData && branch.zones[zoneIndex].imagePath)">
            Нет Данных
        </div>
    </div>

    <div class="bottom-navbar">
        <div style="font-size: 20px;">Количество персон</div>
        <div style="display: flex;">
            <div class="slider-label">1</div>
            <mat-slider color="primary" thumbLabel [tickInterval]="1" min="1" [max]="peopleMax" [value]="peopleCount">
            </mat-slider>
            <div class="slider-label">{{peopleMax}}</div>
        </div>
        <div class="block-container">
            <div class="block">
                <div class="text">Дата</div>
                <button mat-raised-button color="primary" [disabled]="!hasData"
                    (click)="datePicker.open()">{{selectedDate | date:'dd MMMM yyyy'}} <mat-icon>
                        keyboard_arrow_down</mat-icon></button>
                <mat-form-field style="position: absolute; visibility: hidden;">
                    <input matInput [matDatepicker]="datePicker" placeholder="Дата" [value]="selectedDate"
                        (dateChange)="changeDate($event)">
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #datePicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="block">
                <div class="text" style="text-align: right;">Время</div>
                <div class="time-button" style="float: right;">
                    <input #timeInput class="custom-input" matInput type="time" (change)="changeTime(timeInput.value)"
                        style="margin-top: 0;" value="12:00">
                    <mat-icon>schedule</mat-icon>
                </div>
            </div>
        </div>
        <button mat-raised-button color="primary" style="width: 100%;margin-top: 16px;"
            [disabled]="!hasData || getChosenCount() < 1" (click)="confirm()">ПОДТВЕРДИТЬ</button>
    </div>
</div>