@import '~@angular/material/theming';

$mat-custom: (
  50: #c56174,
  100: #c56174,
  200: #c56174,
  300: #c56174,
  400: #c56174,
  500: #913349,
  600: #913349,
  700: #913349,
  800: #913349,
  900: #913349,
  A100: #913349,
  A200: #913349,
  A400: #5f0022,
  A700: #5f0022,
  contrast: (
    50: white,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: white,
    500: white,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: white,
    A700: $white-87-opacity,
  )
);


@include mat-core();

$primary: mat-palette($mat-custom);
$accent: mat-palette($mat-green);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
