@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  font-family: 'Averta Standard Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Averta Standard Regular'), url('AvertaStandard-Regular.woff') format('woff');
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui !important;
  font-weight: normal;
  height: 100%;
}

span.spacer {
  flex: 1 1 auto;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb:vertical {
  margin: 4px;
  background-color: #999;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
}

::-webkit-scrollbar-thumb:horizontal {
  margin: 4px;
  background-color: #999;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}

/* loader */

div.pageloader {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: 101;
}

div.pageloader mat-spinner {
  margin-left: auto;
  margin-right: auto;
  top: calc(50% - 50px);
}

/* //////////// New ////////////// */

div.mat-drawer-inner-container {
  overflow: hidden;
}

button.rounded-button {
  height: 48px;
  border-radius: 24px;
}

/* //////// Input ////////// */

input.custom-time {
  height: 18px;
  max-width: 90px;
  background: none;
}

div.time-button {
  height: 24px;
  width: max-content;
  display: flex;
  color: white;
  background-color: #913349;
  padding: 6px 16px;
  border-radius: 6px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

div.time-button input {
  margin-top: 3px;
  margin-left: 0px;
}

/* customs */

div.floating-block {
  display: flex;
  flex-wrap: wrap;
  background: #FAFAFB;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  padding: 8px 16px;
  margin-top: 16px;
}

div.floating-block-big {
  background: #FAFAFB;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  padding: 24px;
  margin-top: 32px;
}

button.big-button {
  margin: 16px 0;
  width: 100%;
  height: 48px;
}

/* Dialog */

div.cdk-overlay-pane {
  max-width: 948px !important;
  max-height: 98vh;
}

mat-dialog-container.mat-dialog-container {
  padding: 0;
}

div.mat-datepicker-dialog mat-dialog-container.mat-dialog-container {
  padding: 24px;
}

mat-dialog-container mat-dialog-content {
  max-height: none !important;
}

mat-dialog-container div.custom-dialog-body {
  padding: 24px;
}