<div class="canvas">

    <div class="header">
        <div class="block">
            <mat-tab-group (selectedTabChange)="zoneChange($event)" [selectedIndex]="zoneIndex"
                [style.width]="sharedService.isDesktop ? 'calc(100% - 184px)' : 'calc(100% - 49px)'">
                <mat-tab *ngFor="let zone of zones" [(label)]="zone.name"></mat-tab>
            </mat-tab-group>

            <div class="button-group" *ngIf="sharedService.isDesktop && zones.length > 1">
                <button mat-icon-button style="color: #f44336;" (click)="removeZone()" [disabled]="!hasData"
                    title="Удалить зону">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <div class="button-group" *ngIf="sharedService.isDesktop">
                <button mat-icon-button (click)="onZoneRename()" [disabled]="!hasData" title="Переименовать зону">
                    <mat-icon>title</mat-icon>
                </button>

                <input #fileInput style="display: none;" single type="file" (change)="handleFileInput($event)" />
                <button mat-icon-button for="input-file-id" (click)="fileInput.click()" [disabled]="!hasData"
                    title="Изменить изображение">
                    <mat-icon>image</mat-icon>
                </button>

                <button mat-icon-button (click)="addZone()" title="Добавить зону">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <div class="button-group" *ngIf="!sharedService.isDesktop">
                <button mat-icon-button [matMenuTriggerFor]="menuZone">
                    <mat-icon>settings</mat-icon>
                </button>
            </div>
        </div>

        <div class="second-block">
            <div class="button-block">
                <button mat-button (click)="addTable()"
                    [disabled]="!hasData || !zones[zoneIndex].imagePath">Добавить стол</button>
            </div>

            <div class="button-block" *ngIf="hasData && sharedService.isDesktop">
                <button *ngIf="hasData" mat-button [disabled]="!zones[zoneIndex].imagePath"
                    [(value)]="zones[zoneIndex].color" [cpOutputFormat]="'rgba'" [cpPosition]="'bottom'"
                    [(colorPicker)]="zones[zoneIndex].color">
                    <div class="color" style="border: none;" [style.background]="zones[zoneIndex].color"></div>
                    Цвет фона
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </div>

            <div class="button-block" *ngIf="hasData && sharedService.isDesktop">
                <button mat-button [disabled]="!zones[zoneIndex].imagePath" [matMenuTriggerFor]="menuTableColor">
                    <div class="color"
                        [style.background-color]="hasData ? zones[zoneIndex].tableColor : '#ffffff'"
                        [style.border-color]="zones[zoneIndex].tableBColor"></div>

                    <div class="color"
                        [style.background-color]="hasData ? zones[zoneIndex].tableActiveColor : '#ffffff'"
                        [style.border-color]="zones[zoneIndex].tableActiveBColor"></div>

                    <div class="color"
                        [style.background-color]="hasData ? zones[zoneIndex].tableDisabledColor : '#ffffff'"
                        [style.border-color]="zones[zoneIndex].tableDisabledBColor"></div>
                    Цвета столов
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </div>

            <div class="button-block" *ngIf="hasData && sharedService.isDesktop">
                <button mat-button [matMenuTriggerFor]="menuTable" [disabled]="!zones[zoneIndex].imagePath">
                    Стиль столов
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </div>

            <span class="spacer"></span>
            <div class="button-block" *ngIf="!sharedService.isDesktop && hasData">
                <button mat-icon-button (click)="$event.stopPropagation();"
                    [disabled]="!zones[zoneIndex].imagePath" [matMenuTriggerFor]="menuTableStyle"
                    style="width: 48px;padding-left: 12px;">
                    <mat-icon style="margin: 0;">settings</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="body" [style.background-color]="hasData ? zones[zoneIndex].color : null">
        <div class=dragscroll>
            <span *ngIf="hasData && zones[zoneIndex].imagePath">
                <div *ngFor="let item of zones[zoneIndex].tables; let i=index" class="draggable-box"
                    cdkDragBoundary=".dragscroll" cdkDrag (cdkDragEnded)="dragEnded($event, i)"
                    [ngStyle]="getTableStyle(i)" (click)="selectTable(i)" ngResizable (rzStop)="onResizeStop($event)"
                    (rzStart)="onResizeStart($event, i)" style="z-index: 1;">
                    {{item.sits}}
                    <div class="badge" *ngIf="selectedIndex==i" (click)="onTableChange()">
                        <mat-icon style="font-size: 20px;width: 20px;height: 20px;margin-top: 2px;color: white;">
                            settings
                        </mat-icon>
                    </div>
                </div>
            </span>
            <img [hidden]="!hasData || !zones[zoneIndex].imagePath" #planImage (load)="onImgLoad()"
                [src]="zones.length > 0 ? zones[zoneIndex].imagePath : ''" drag-scroll-item
                (click)="onBackgroundClick()">
        </div>
        <div class="empty-image" *ngIf="!(hasData && zones[zoneIndex].imagePath)">
            Нет Данных
        </div>
    </div>
</div>

<ng-template #DTableSettings>
    <h2 mat-dialog-title>Редактирование стола</h2>
    <mat-dialog-content *ngIf="zones[zoneIndex].tables[selectedIndex]">
        <mat-form-field style="max-width: 70px;">
            <input #sInput matInput placeholder="Кол-во мест"
                [(value)]="zones[zoneIndex].tables[selectedIndex].sits" type="number" min="1"
                (change)="changeTable(sInput.value, 's')">
        </mat-form-field>
        <mat-form-field style="max-width: 127px; margin-left: 16px;">
            <input #dInput matInput placeholder="Стоимость депозита"
                [(value)]="zones[zoneIndex].tables[selectedIndex].depositCost" type="number" min="0"
                (change)="changeTable(dInput.value, 'd')">
            <span matSuffix>₽</span>
        </mat-form-field>
        <button style="width: 100%;" mat-raised-button color="warn" (click)="removeTable()">
            УДАЛИТЬ СТОЛ </button>
    </mat-dialog-content>
    <mat-dialog-actions>
        <span class="spacer"></span>
        <button mat-button mat-dialog-close color="primary">Закрыть</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #DZoneName>
    <h2 mat-dialog-title>Название зоны</h2>
    <mat-dialog-content>
        <mat-form-field style="width: 100%;">
            <input matInput placeholder="Название" [(ngModel)]="zones[zoneIndex].name" type="text"
                maxlength="32">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <span class="spacer"></span>
        <button mat-button mat-dialog-close color="primary">Закрыть</button>
    </mat-dialog-actions>
</ng-template>



<mat-menu #menuZone="matMenu" xPosition="before">
    <button mat-menu-item style="color: #f44336;" (click)="removeZone()" [disabled]="!hasData"
        *ngIf="zones.length > 1">
        Удалить зону
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item (click)="onZoneRename()" [disabled]="!hasData">
        Переименовать
    </button>

    <input #fileInput style="display: none;" single type="file" (change)="handleFileInput($event)" />
    <button mat-menu-item for="input-file-id" (click)="fileInput.click()" [disabled]="!hasData">
        Выбрать изображение
    </button>

    <button mat-menu-item (click)="addZone()">
        Добавить зону
    </button>
</mat-menu>


<mat-menu #menuTableStyle="matMenu" xPosition="before">
    <button mat-menu-item [matMenuTriggerFor]="menuTable">
        Стиль столов
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item [matMenuTriggerFor]="menuTableColor" *ngIf="hasData">
        <div class="color" [style.background-color]="hasData ? zones[zoneIndex].tableColor : '#ffffff'"
            [style.border-color]="zones[zoneIndex].tableBColor"></div>

        <div class="color" [style.background-color]="hasData ? zones[zoneIndex].tableActiveColor : '#ffffff'"
            [style.border-color]="zones[zoneIndex].tableActiveBColor"></div>

        <div class="color" [style.background-color]="hasData ? zones[zoneIndex].tableDisabledColor : '#ffffff'"
            [style.border-color]="zones[zoneIndex].tableDisabledBColor"></div>
        Цвета столов
    </button>

    <button mat-menu-item *ngIf="hasData" (click)="$event.stopPropagation();" [(value)]="zones[zoneIndex].color"
        [cpOutputFormat]="'rgba'" [cpPosition]="'bottom'" [(colorPicker)]="zones[zoneIndex].color">
        <div class="color" style="border: none;" [style.background]="zones[zoneIndex].color">
        </div>
        Цвет фона
    </button>
</mat-menu>

<mat-menu #menuTable="matMenu" xPosition="before">
    <button mat-menu-item [ngStyle]="menuStyle(0)" (click)="changeTableColor(0)">Доступный</button>
    <button mat-menu-item [ngStyle]="menuStyle(1)" (click)="changeTableColor(1)">Выбранный</button>
    <button mat-menu-item [ngStyle]="menuStyle(2)" (click)="changeTableColor(2)">Недоступный</button>
</mat-menu>

<mat-menu #menuTableColor="matMenu" xPosition="before" class="menuTableColor">
    <div class="menu-label">Доступный</div>
    <button *ngIf="hasData" class="color-button menu" mat-button (click)="$event.stopPropagation();"
        [(value)]="zones[zoneIndex].tableColor" [cpOutputFormat]="'rgba'" [cpPosition]="'right-bottom'"
        [(colorPicker)]="zones[zoneIndex].tableColor">
        <div class="color" [style.background-color]="hasData ? zones[zoneIndex].tableColor : '#ffffff'"></div>
        Фон
    </button>

    <button *ngIf="hasData" class="color-button menu" mat-button (click)="$event.stopPropagation();"
        [(value)]="zones[zoneIndex].tableBColor" [cpOutputFormat]="'rgba'" [cpPosition]="'right-bottom'"
        [(colorPicker)]="zones[zoneIndex].tableBColor">
        <div class="color" [style.background-color]="hasData ? zones[zoneIndex].tableBColor : '#ffffff'"></div>
        Обводка
    </button>

    <mat-divider></mat-divider>
    <div class="menu-label">Выбранный</div>
    <button *ngIf="hasData" class="color-button menu" mat-button (click)="$event.stopPropagation();"
        [(value)]="zones[zoneIndex].tableActiveColor" [cpOutputFormat]="'rgba'" [cpPosition]="'right-bottom'"
        [(colorPicker)]="zones[zoneIndex].tableActiveColor">
        <div class="color" [style.background-color]="hasData ? zones[zoneIndex].tableActiveColor : '#ffffff'">
        </div>
        Фон
    </button>

    <button *ngIf="hasData" class="color-button menu" mat-button (click)="$event.stopPropagation();"
        [(value)]="zones[zoneIndex].tableActiveBColor" [cpOutputFormat]="'rgba'" [cpPosition]="'right-bottom'"
        [(colorPicker)]="zones[zoneIndex].tableActiveBColor">
        <div class="color" [style.background-color]="hasData ? zones[zoneIndex].tableActiveBColor : '#ffffff'">
        </div>
        Обводка
    </button>

    <mat-divider></mat-divider>
    <div class="menu-label">Недоступный</div>
    <button *ngIf="hasData" class="color-button menu" mat-button (click)="$event.stopPropagation();"
        [(value)]="zones[zoneIndex].tableDisabledColor" [cpOutputFormat]="'rgba'" [cpPosition]="'right-bottom'"
        [(colorPicker)]="zones[zoneIndex].tableDisabledColor">
        <div class="color" [style.background-color]="hasData ? zones[zoneIndex].tableDisabledColor : '#ffffff'">
        </div>
        Фон
    </button>

    <button *ngIf="hasData" class="color-button menu" mat-button (click)="$event.stopPropagation();"
        [(value)]="zones[zoneIndex].tableDisabledBColor" [cpOutputFormat]="'rgba'" [cpPosition]="'right-bottom'"
        [(colorPicker)]="zones[zoneIndex].tableDisabledBColor">
        <div class="color" [style.background-color]="hasData ? zones[zoneIndex].tableDisabledBColor : '#ffffff'">
        </div>
        Обводка
    </button>
</mat-menu>