div.canvas {
    background-color: #EDEEF1;
    border-radius: 6px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* /////// Header /////// */

/deep/ .mat-tab-header {
    border-bottom: 0;
}

div.header {
    z-index: 2;
    position: sticky;
}

div.block {
    display: flex;
}

div.button-group {
    border-left: 1px solid #C5C8CA;
    height: 100%;
}

div.button-group button {
    margin: 4px;
    color: #5F5F60;
}

div.second-block {
    color: #5F5F60;
    height: 48px;
    display: flex;
    background-color: #FAFAFB;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

div.second-block div.button-block {
    border-right: 1px solid #C5C8CA;
}

div.second-block div.button-block button {
    height: 48px;
}

/deep/ div.second-block div.button-block span.mat-button-wrapper {
    display: flex;
}

div.button-block button mat-icon {
    margin-top: 6px;
    margin-left: 2px;
}

button div.color {
    width: 16px;
    height: 16px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 8px;
    box-sizing: border-box;
    border: 2px solid;
}

/deep/ button.mat-menu-item {
    display: flex;
}

button.mat-menu-item div.color {
    margin-top: 16px;
}

/* ////// Body//////// */

div.body {
    z-index: 1;
    border-radius: 0 0 6px 6px;
}

/* Empty container */

div.empty-image {
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

/* Scrollable container */

.dragscroll img {
    border-radius: 4px;
    object-fit: contain;
    max-width: 100%;
    max-height: 600px;
    margin-top: 3px;
}

.dragscroll {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    height: max-content;
    width: max-content;
}

/* draggable element */

.draggable-box {
    z-index: 1;
    border: solid 1px #ccc;
    font-weight: 400;
    font-size: 20px;
    color: white;
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: absolute;
    z-index: 100;
    border: solid 2px #d0d0d0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
}

.draggable-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.badge {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #913349;
    position: absolute;
    right: -12px;
    top: -12px;
    cursor: pointer;
    z-index: 200;
}

/* color picker */

/deep/ div.color-picker.open {
    max-width: 200px;
    z-index: 10;
    border-radius: 6px;
    border: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

/deep/ div.saturation-lightness {
    border-radius: 6px 6px 0 0;
}

button.color-button {
    width: 100%;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
}

/deep/ button.color-button span.mat-button-wrapper {
    display: flex;
}

button.color-button div.color {
    margin-top: 16px;
}

button.menu div.color {
    border-width: 0;
}

div.menu-label {
    text-align: center;
    margin-top: 4px;
}