.column {
    position: relative;
    max-width: 33.33%;
    min-width: 240px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    padding: 8px 16px;
    display: flex;
    flex-wrap: wrap;
    color: white;
}


.mat-button-toggle {
    background-color: #8d5e68;
    color: white;
}

.mat-button-toggle-checked {
    background-color: #913349;
    color: white;
}
