<div class="pageloader" *ngIf="sharedService.httpService.loading">
    <mat-spinner></mat-spinner>
</div>

<div style="height: 100%;">
    <div class="row">
        <div class="column">
            <mat-button-toggle-group appearance="legacy" color="primary">
                <mat-button-toggle mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                    (click)="changeMonth()">
                    Назад</mat-button-toggle>
                <mat-button-toggle mwlCalendarToday [(viewDate)]="viewDate">Сегодня</mat-button-toggle>
                <mat-button-toggle mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (click)="changeMonth()">
                    Далее
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="column" style="font-size: 24px; font-weight: 500; text-align: center;">
            {{ viewDate | calendarDate: view + 'ViewTitle':locale }}</div>

        <div class="column">
            <mat-button-toggle-group appearance="legacy" style="float: right;" [(ngModel)]="view">
                <mat-button-toggle value="month">Месяц</mat-button-toggle>
                <mat-button-toggle value="week">Неделя</mat-button-toggle>
                <mat-button-toggle value="day">День</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>


    <div [ngSwitch]="view" style="overflow: auto;" [ngStyle]='calendarStyle()'>
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
            [activeDayIsOpen]="true" (dayClicked)="dayClicked($event.day)" (eventClicked)="eventClicked($event.event)"
            [locale]="locale">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
            (eventClicked)="eventClicked($event.event)" [locale]="locale">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
            (eventClicked)="eventClicked($event.event)" [locale]="locale">
        </mwl-calendar-day-view>
    </div>
</div>
<!-- Dialog event -->
<ng-template #DEventInfo>
    <h2 mat-dialog-title>Информацио о бронировании</h2>
    <mat-dialog-content>
        <mat-form-field style="width: 100%; margin-top:8px;">
            <input [value]="selectedOrder.name" matInput placeholder="Имя">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <input [value]="selectedOrder.surname" matInput placeholder="Фамилия">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <input [value]="selectedOrder.phone" matInput placeholder="Телефон">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <input [value]="selectedOrder.email" matInput placeholder="E-mail">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <span class="spacer"></span>
        <button mat-button mat-dialog-close color="primary">Закрыть</button>
    </mat-dialog-actions>
</ng-template>