<div class="AuthorizationHeader">Смена пароля</div>

<form class="AuthForm" id="ResetPasswordForm" [formGroup]="ResetPasswordForm" (ngSubmit)="onSubmit(ResetPasswordForm)">
    <mat-form-field id="email">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="formErrors.email">
            {{formErrors.email}}
        </mat-error>
    </mat-form-field>

    <mat-form-field id="code">
        <input matInput placeholder="Код доступа" formControlName="code">
    </mat-form-field>

    <mat-form-field id="password">
        <input type="password" matInput placeholder="Новый пароль" formControlName="password">
        <mat-error *ngIf="formErrors.password">
            {{formErrors.password}}
        </mat-error>
    </mat-form-field>

    <mat-form-field id="confirmPassword">
        <input type="password" matInput placeholder="Повторите пароль" formControlName="confirmPassword">
        <mat-error *ngIf="formErrors.confirmPassword">
            {{formErrors.confirmPassword}}
        </mat-error>
    </mat-form-field>

    <button class="AuthMainButton" *ngIf="IsVisibleSaveButton" mat-raised-button color="primary" type="submit"
        [disabled]="!ResetPasswordForm.valid">Сохранить</button>
        
    <p class="DescriptionLabels" style="color: white;">{{UserInformation.text}}
        <span *ngIf="UserInformation.link">
            <a href={{UserInformation.link}} style="color: rgb(0,0,238);">ссылке</a>
        </span>
    </p>
</form>