<div class="AuthorizationHeader" style="font-size: 34px;">Регистрация</div>

<form [formGroup]="RegistrationForm" class="AuthForm">
    <mat-form-field id="email">
        <input matInput placeholder="E-mail*" formControlName="email">
        <mat-error *ngIf="formErrors.email">
            {{formErrors.email}}
        </mat-error>
    </mat-form-field>

    <mat-form-field id="password">
        <input type="password" matInput placeholder="Пароль*" formControlName="password">
        <mat-error *ngIf="formErrors.password">
            {{formErrors.password}}
        </mat-error>
    </mat-form-field>

    <mat-form-field id="confirmPassword">
        <input type="password" matInput placeholder="Повторите пароль*" formControlName="confirmPassword">
        <mat-error *ngIf="formErrors.confirmPassword">
            {{formErrors.confirmPassword}}
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" class="AuthMainButton" (click)="onSubmit(RegistrationForm)"
        [disabled]="!RegistrationForm.valid">Приступить к работе</button>
    <div style="padding: 28px 48px;">
        <button mat-button routerLink="/LogIn" style="color: white">Войти</button>
    </div>
</form>

<ng-template #DRegistration>
    <h2 mat-dialog-title>Авторизация</h2>
    <mat-dialog-content style="font-size: 18px;text-align: center;">
        Мы отправили вам письмо. <br>
        Пожалуйста, проверьте вашу почту. <br>
        <div style="font-size: 22px; margin-top: 8px;">
            <a *ngIf="registrationData" [href]="registrationData.url" target="_blank">{{registrationData.name}}</a>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <span class="spacer"></span>
        <button mat-button mat-dialog-close color="primary">ОК</button>
    </mat-dialog-actions>
</ng-template>