div.payment-card{ 
    margin-top: 16px; 
    height: 280px;  
    width: 448px; 
    border-radius: 12px;  
    display: flex; 
    -webkit-box-shadow: 3px 3px 30px 1px rgba(84,84,84,1); 
    -moz-box-shadow: 3px 3px 30px 1px rgba(84,84,84,1); 
    box-shadow: 3px 3px 30px 1px rgba(84,84,84,1); 
} 
 
div.payment-card div.left-part{ 
    border-top-left-radius: 12px; 
    border-bottom-left-radius: 12px; 
    background-color:white;  
    height: 100%; 
    width: 40%;  
    background: linear-gradient(50deg,#dce4e6,#b8c4c7); 
} 
div.payment-card div.right-part{ 
    border-top-right-radius: 12px; 
    border-bottom-right-radius: 12px; 
    height: 100%; 
    width: 60%;  
    background-size: cover; 
} 
 
div.payment-card div.right-part div.opacity-background{ 
    border-top-right-radius: 12px; 
    border-bottom-right-radius: 12px; 
    width: 100%;  
    height: 100%;  
    background-color:rgba(29, 51, 72, 0.9) 
} 
 
div.card-label{ 
    font-size: 13px; 
    font-weight: 500; 
    padding-top: 24px; 
    margin-left: 16px; 
    color: white; 
} 
 
.card-select select option { 
    color: black; 
} 
 
div.card-select, input.card-number{ 
    margin-top: 12px; 
    margin-left: 16px; 
} 
 
.card-select select, input.card-number { 
    padding-left: 16px; 
    border: 3px solid #edc833; 
    border-radius: 6px; 
    font-size: 15px; 
    font-weight: 600; 
    line-height: 15px; 
    height: 30px; 
    background: none; 
    color: white; 
}