<div style="width: 100%;" *ngIf="Company">
    <div class="block-info" *ngIf="!sharedService.isConfirmed">
        <div class="info-header">
            <span class="label">Важно</span>
        </div>
        <div class="info-body">
            Заполните информацию о компании для того, чтобы добавлять филиалы!
        </div>
    </div>

    <div class="block-info">
        <div class="info-header">
            <span class="label">Информация</span>
            <span class="label" *ngIf="!sharedService.isConfirmed">Заполните информацию о компании
            </span>
        </div>
        <div class="info-body">
            <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Название</mat-label>
                <input matInput placeholder="Название" [(ngModel)]="Company.name" required #nameI="ngModel">
                <mat-error *ngIf="nameI.errors && nameI.errors.required">Обязательное поле</mat-error>
            </mat-form-field>
            <mat-form-field style="width: calc(50% - 8px);" appearance="outline">
                <mat-label>ИНН</mat-label>
                <input matInput placeholder="ИНН" required [(ngModel)]="Company.inn" #innI="ngModel" innValid>
                <mat-error *ngIf="innI.errors && !innI.errors.innValid">Неверный ИНН</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field style="width: calc(50% - 8px); margin-right: 16px;" appearance="outline">
                <mat-label>{{Company.isIP ? 'ОГРНИП' : 'ОГРН'}}</mat-label>
                <input matInput [placeholder]="Company.isIP ? 'ОГРНИП' : 'ОГРН'" [(ngModel)]="Company.ogrn"
                    #ogrnI="ngModel" ogrnValid>
                <mat-error *ngIf="ogrnI.errors && !ogrnI.errors.ogrnValid">Неверный ОГРН</mat-error>
            </mat-form-field>
            <mat-checkbox color="primary" [(ngModel)]="Company.isIP">Является ИП</mat-checkbox>
        </div>
        <div class="bottom-row">
            <button mat-raised-button color="primary" [disabled]="submitValid"
                (click)="saveChanges()">Сохранить</button>
        </div>
    </div>
</div>